@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Epilogue:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;


.bricolage-font {
  font-family: "Bricolage Grotesque";
}


@layer base {
  :root {
    --background: 10 40% 97%;
    --foreground: 20 15% 5%;

    --card: 0 0% 100%;
    --card-foreground: 20 15% 5%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 15% 5%;

    --primary: 15 60% 76%;
    --primary-foreground: 0 0% 0%;

    --secondary: 24 84% 67%;
    --secondary-foreground: 0 0% 0%;

    --muted: 24 2% 87%;
    --muted-foreground: 220 2% 67%;

    --accent: 17 76% 82%;
    --accent-foreground: 0 0% 0%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 0 0% 95%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 0 0% 95%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 0 0% 95%;

    --primary: 15 60% 76%;
    --primary-foreground: 0 0% 0%;

    --secondary: 24 84% 67%;
    --secondary-foreground: 0 0% 0%;

    --muted: 24 5% 64%;
    --muted-foreground: 24 5% 54%;

    --accent: 12 6% 15%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;

    --border: 217 7% 32%;
    --input: 217 7% 32%;
    --ring: 12.9 10% 87.1%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-infrared-bg text-infrared-text;
    background-image: url('/gradients/page-header-gradient.svg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
  }
}

@layer components {
  .nav-link {
    @apply px-3 py-2 text-sm font-medium text-infrared-text hover:text-infrared-accent-dark transition-colors;
  }

  .connect-button {
    @apply bg-black text-white rounded-lg px-6 py-3 font-medium hover:bg-zinc-800 transition-colors;
  }

  .infrared-card {
    @apply bg-white rounded-xl overflow-hidden;
  }

  .infrared-card-header {
    @apply bg-gradient-to-r from-infrared-primary to-infrared-secondary p-6 text-infrared-text;
  }

  .infrared-tabs {
    @apply border-b border-zinc-200;
  }
}
